.userInfo {
    padding: 2rem;
    text-align: center;
    margin: auto;
    .userInfo__details {
        &__img {
            text-align: center;
            margin: 1rem 0;
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}